{% extends 'music/base.html' %}

{% block title %}<title> Album details </title> {% endblock %}
{% block body %}
    <img src="{{ album.album_logo }}">

    <H1>{{ album.album_title }}</H1>
    <h3> {{ album.artist }}</h3>
    <ul>
        {% for song in album.song_set.all %}
            <li>{{ song.song_title }} - {{ song.file_type }} </li>
        {% endfor %}
    </ul>

    {% if error_message %}
        <p><strong> {{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'music:favorite' album.id%}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="https://pics.ebaystatic.com/aw/pics/icon/iconYellowStar_25x25.gif" />

                {% endif %}
            </label><br>
        {% endfor %}
    <input type="submit" value="Favorite">
    </form>
{% endblock %}

{% block songactiveclass %}
    class="active"
{% endblock %}